<body data-gr-c-s-loaded="true" class="bg-light">
    <!-- Begin import page header -->
    <% include ../partials/header %>
    <!-- End import page header -->

    <div class="container-fluid">

        <!-- Begin import page sidebar -->
        <% include ../partials/sidebar %>
        <!-- End import page sidebar -->

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="container">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-hover text-center">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Bot</th>
                                    <th scope="col">Client</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Messages</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% data.forEach(element => { %>
                                <tr onclick="displayMessageHistory(<%= element.id %>, <%= element.messagerId %>)" href="#myModal" style="cursor: pointer" data-toggle="modal">
                                    <th scope="row"><%= element.botName %></th>
                                    <td><%= element.messagerName %></td>
                                    <td><%= element.last %></td>
                                    <td><%= element.count %></td>
                                </tr>

                                <!-- Begin Modal -->
                                <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-full-right" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title"> <%= element.messagerName %> </h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body offset-1 p-4" id="result">
                                                <div class="pl-3 pr-3 pt-3 pb-3" style="background-color: transparent; border-radius: 25px;">
                                                    <div class="form-group">
                                                        <div class="content" id="chatContent">
                
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Modal -->
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- <a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal">Launch modal</a> -->

                
            </div>
        </main>
    </div>

    <!-- Begin import page footer -->
    <% include ../partials/footer%>
    <!-- End import page footer -->


    <!-- Begin import jabascript libs -->
    <% include ../partials/scripts %>
    <!-- End import jabascript libs -->

    <script src="javascripts/dashboard.js"></script>
</body>